body {
padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.table-vcenter td {
vertical-align: middle!important;
}

.btn-nomargin {
margin: 0px 0px;
}
    .nopadding {
    padding: 1px 1px 1px 1px;
    margin: 1px 1px;
    }
