@(tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), contest: SelectedContest)(content: Html)(implicit request: RequestHeader)

@navlink(myid: String, mytext: Html) = {
@if(myid == tab) {
<li class="active"><a href="#">@mytext <span class="sr-only">(current)</span></a></li>
} else {
<li><a href="@AdminNavlinkMatch(myid)(contest.contest.id)">@mytext</a></li>
}
}

@adminNavlinks = {
@navlink("status", Html("Статус"))
@navlink("monitor", Html("Монитор"))
@navlink("qanda", Html("Вопросы <span id='clrPending' class='badge'>-</span>"))
@navlink("rejudge", Html("Rejudge"))
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        @contest.contest.id
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @for(c <- contest.contests) {
            <li role="presentation" @if(c._1 == contest.contest.id){class="active"}>
                <a href="@if(c._1 == contest.contest.id){#}else{@AdminNavlinkMatch(tab)(c._1)}">@c._2</a></li>
        }
    </ul>
</li>
<li><a href="#"><span id="connected1" class="badge badge-error">*</span></a></li>
}

@myStyles = {
@styles
<style>
    body {
    padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    .table-vcenter td {
    vertical-align: middle!important;
    }

    .btn-nomargin {
    margin: 0px 0px;
    }
</style>
}

@myScripts = {
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        maybeCheckNotifyPermission();
        listenOnAdmin('@routes.AdminApplication.feed(contest.contest.id)', '@routes.Assets.at("images/")');
    })
</script>
}


@base("Contester", myStyles, myScripts) {

@navbar(Some(routes.AdminAuthForms.logout), "navbar-warning")(adminNavlinks)
<div class="container">
    @content
</div>
}