@(tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), contest: SelectedContest)(content: Html)(implicit request: RequestHeader, messages: Messages)

@navlink(myid: String, mytext: Html) = {
@if(myid == tab) {
<li class="active"><a href="#">@mytext <span class="sr-only">(current)</span></a></li>
} else {
<li><a href="@AdminNavlinkMatch(myid)(contest.contest.id)">@mytext</a></li>
}
}

@adminNavlinks = {
@navlink("status", Html(messages("status")))
@navlink("monitor", Html(messages("scoreboard")))
@navlink("qanda", Html(messages("heading.clarifications")+" <span id='clrPending' class='badge'>-</span>"))
@navlink("tasks", Html(messages("label.tasks")+" <span id='tasksPending' class='badge'>-</span>"))
@navlink("rejudge", Html("Rejudge"))
@navlink("print", Html("Print"))
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        @contest.contest.id
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @for(c <- contest.contests) {
            <li role="presentation" @if(c._1 == contest.contest.id){class="active"}>
                <a href="@if(c._1 == contest.contest.id){#}else{@AdminNavlinkMatch(tab)(c._1)}">@c._1 - @c._2</a></li>
        }
    </ul>
</li>
<li><a href="#"><span id="connected1" class="badge badge-error">*</span></a></li>
}

@myStyles = {
@styles
<link href="@routes.Assets.versioned("css/topbar.css")" rel="stylesheet">
}

@myScripts = {
<script type="text/javascript">
$(function() {
    askForPermission();
    listenOnAdmin('@routes.AdminApplication.feed(contest.contest.id)', '@routes.Assets.versioned("images/")');
});
</script>
@scripts
}


@base("Contester", myStyles, myScripts) {

@navbar(Some(routes.AdminAuthForms.logout), "navbar-warning")(adminNavlinks)
<div class="container">
    @content
</div>
}