@(teams: Seq[ImportedTeam], contest: SelectedContest, admin: Admin, school: Boolean)(implicit request: RequestHeader, messages: Messages)

@adminmain(tab = "", contest=contest) {

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Team import</h3></div>
    <div class="panel-body">
        <table id="teams" class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>ID</th><th>School Name</th><th>Short</th><th>Index</th><th>Team name</th></tr>
            </thead>
            <tbody>
            @for(s <- teams) {
            <tr>
                <th scope="row"></th>
                <td>@s.school.schoolFullName</td>
                <td>@s.school.schoolName</td>
                <td>@s.teamID</td>
                <td>@s.teamName</td>
            </tr>
            }
            </tbody>
        </table>

        @b3.horizontal.formCSRF(controllers.routes.AdminApplication.importTeams(contest.contest.id, school),
        "col-md-2", "col-md-10", 'enctype -> "multipart/form-data") { implicit fc =>
        @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Import}
        }
        @b3.horizontal.formCSRF(controllers.routes.AdminApplication.addJuryTeams(contest.contest.id),
        "col-md-2", "col-md-10", 'enctype -> "multipart/form-data") { implicit fc =>
        @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Add jury teams}
        }
    </div>
</div>

}