@(current: Option[Int], form: Form[PostWaiterTask], contest: SelectedContest)(implicit flash: Flash, messages: Messages, request: RequestHeader)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@adminmain(tab = "qanda", contest = contest) {

@flash.get("success").map { message =>
<div class="alert alert-success" role="alert">
    @message
</div>
}

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Post/update waiter task</h3></div>
    <div class="panel-body">
        @b3.form(controllers.routes.AdminApplication.postWaiterTask(contest.contest.id, current)) {
        @form.globalError.map { error =>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @error.message
        </div>
        }

        @for(id <- current) {
        @b3.static("ID"){ @id }
        }
        @b3.static("Contest"){ @contest.contest.name }
        @b3.text(form("rooms"), '_label -> "Комнаты")
        @b3.textarea(form("message"), '_label -> "Задание", 'rows -> 6)
        @b3.checkbox(form("isHidden"), '_text -> "Не показывать")
        @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Update}
        }
    </div>
</div>
}