@(jobs: Seq[AdminPrintJob], contest: SelectedContest, admin: Admin)(implicit request: RequestHeader, messages: Messages)

@adminmain(tab = "print", contest=contest) {

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Print jobs</h3></div>
    <div class="panel-body">

        <table id="printjobs" class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>ID</th><th></th><th>Computer</th><th>Team</th><th>Filename</th>
                <th>Arrived</th><th>Printed</th><th>Pages</th><th>Error</th></tr>
            </thead>
            <tbody>
            @for(s <- jobs) {
            <tr id="@s.id" @if(s.printed.isDefined && s.error.isEmpty){ class="success" }else if (s.printed.isDefined && s.error.nonEmpty) { class="danger" } >
                <th scope="row">@s.id</th>
                <td>
                <div class="btn-group btn-nomargin">
                    <a href="javascript:void(0)" class="btn btn-primary btn-xs btn-nomargin dropdown-toggle" data-toggle="dropdown" id="printJob-@{s.id}">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" onclick="btn('@controllers.routes.AdminApplication.reprintJob(s.id)', 'printjob-@{s.id}')">Reprint</a></li>
                    </ul>
                </div>
                </td>
                <td>@s.computerName</td>
                <td>@s.team.teamFullName</td>
                <td>@s.filename</td>
                <td>@s.arrived</td>
                <td>@s.printed</td>
                <td>@s.pages</td>
                <td>@s.error</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

}