@(clarifications: Seq[Clarification], clReqs: Seq[ClarificationRequest], contest: SelectedContest)(implicit request: RequestHeader)

@adminmain(tab = "qanda", contest=contest) {
<script>
    function toggleClarification(target, btnid) {
        $('#rejudge-' + btnid).html('...');
        $('#result-' + btnid).html('...')
        $.post(target, {}, function() {
            $('#rejudge-' + btnid).html('<span class="caret"></span>')
        });
    }

    function deleteClarification(target, btnid) {
        $('#rejudge-' + btnid).html('...');
        $.post(target, {}, function() {
            $('#rejudge-' + btnid).html('<span class="caret"></span>')
        });
    }

</script>

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Clarifications</h3></div>
    <div class="panel-body">

<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>ID</th><th></th><th>Contest</th><th>Problem</th><th>Text</th><th>Time</th>
        <th>Hidden</th></tr>
    </thead>
    <tbody>
    @for(s <- clarifications) {
    <tr><th scope="row"><a href="@routes.AdminApplication.postUpdateClarification(s.id)">@s.id</a></th>
        <td><div class="btn-group btn-nomargin">
            <a href="javascript:void(0)" data-target="#" class="btn btn-primary btn-xs btn-nomargin dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" onclick="toggleClarification('@controllers.routes.AdminApplication.toggleClarification(s.id)', '@{s.id}')">Скрыть/показать</a></li>
                <li><a href="javascript:void(0)" onclick="deleteClarification('@controllers.routes.AdminApplication.deleteClarification(s.id)', '@{s.id}')">Удалить</a></li>
            </ul>
        </div>
        </td>
        <td>@s.contest</td>
        <td>@s.problem</td><td>@s.text</td><td>@s.arrived</td><td>@s.hidden</td></tr>
    }
    </tbody>
</table>
        <a href="@routes.AdminApplication.postNewClarification(contest.contest.id)" class="btn btn-primary">Добавить уточнение</a>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Clarification requests</h3></div>
    <div class="panel-body">
<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>ID</th><th>Contest</th><th>Team</th><th>Problem</th><th>Text</th><th>Time</th>
        <th>Answer</th><th>Status</th></tr>
    </thead>
    <tbody>
    @for(s <- clReqs) {
    <tr><th scope="row"><a href="@routes.AdminApplication.postAnswerForm(s.id)">@s.id</a></th>
        <td>@s.contest</td><td>@s.team</td>
        <td>@s.problem</td><td>@s.request</td><td>@s.arrived</td><td>@s.answer</td><td>@s.answered</td></tr>
    }

    </tbody>
</table>
        </div></div>
}