@(sub: SubmitDetails, contest: SelectedContest, outputs: Map[Int, ResultAssets])(implicit request: RequestHeader)

@panel(name: String, style: String = "default", style2: String = "")(content: Html) = {
<div class="panel panel-@style">
    <div class="panel-heading"><h3 class="panel-title">@name</h3>
    </div>
    <div class="panel-body @style2">@content</div>
</div>
}

@stdpanel(name: String, value: String) = {
    @if(!value.isEmpty) {
        @panel(name, "default", "nopadding") { <pre class="nopadding">@value</pre> }
    }
}

@adminmain(tab = "", contest = contest) {

@panel("Подход") {
        <p>По часам: @{sub.fsub.submit.submitId.arrived.timestamp}, по контесту: @sub.fsub.submit.submitId.arrived.asString,
            @if(sub.fsub.submit.submitId.arrived.afterFreeze){после}else{до} заморозки</p>
}

@for(s <- sub.fsub.details) {
    @if(s.test == 0) {
        @panel("Компиляция", "info") {
            <p><b>Результат:</b>@s.resultString</p>
            <p><b>Время:</b> @s.time</p>
            <p><b>Память</b> @s.memory</p>
            <p><b>Код возврата чекера</b>: @s.testerExitCode</p>
            @stdpanel("Вывод", s.testerOutput)
            @stdpanel("Ошибки", s.testerError)
        }
    } else {
        @panel(s"Тест ${s.test}", "primary") {
            <p><b>Результат:</b>@s.resultString</p>
            <p><b>Время:</b> @s.time</p>
            <p><b>Память</b> @s.memory</p>
            <p><b>Код возврата чекера</b>: @s.testerExitCode</p>
            @stdpanel("Ввод", outputs.get(s.test).flatMap(_.input).map(_.toString).getOrElse(""))
            @stdpanel("Вывод", outputs.get(s.test).flatMap(_.output).map(_.toString).getOrElse(""))
            @stdpanel("Ответ жюри", outputs.get(s.test).flatMap(_.answer).map(_.toString).getOrElse(""))
            @stdpanel("Комментарий чекера", s.testerError)
        }
    }
}

@panel("Исходный текст", "info") {
        <pre>@sub.sourceStr</pre>
}

}