@(sub: SubmitDetails, contest: SelectedContest, outputs: Map[Int, ResultAssets])(implicit request: RequestHeader)

@panel(name: String, style: String = "default", style2: String = "")(content: Html) = {
<div class="panel panel-@style">
    <div class="panel-heading"><h3 class="panel-title">@name</h3>
    </div>
    <div class="panel-body @style2">@content</div>
</div>
}

@stdpanel(name: String, value: String) = {
    @if(!value.isEmpty) {
        @panel(name, "default", "nopadding") { <pre class="nopadding">@value</pre> }
    }
}

@details(s: ResultEntry, wat: String) = {
<p><b>Результат:</b> @s.resultString, <b>Время:</b> @s.time, <b>Память:</b> @s.memory,
<b>Код возврата @wat</b>: @s.testerExitCode</p>
}

@adminmain(tab = "", contest = contest) {

@panel("Попытка") {
        <p>По часам: @{sub.fsub.submit.submitId.arrived.timestamp}, по контесту: @sub.fsub.submit.submitId.arrived.asString,
            @if(sub.fsub.submit.submitId.arrived.afterFreeze){после}else{до} заморозки</p>
}

@panel("Исходный текст", "info") {
<pre>@sub.sourceStr</pre>
}

@for(s <- sub.fsub.details) {
    @if(s.test == 0) {
        @if(s.result != 1) {
            @panel("Компиляция", "info") {
                @details(s, "компилятора")
                @stdpanel("Вывод", s.testerOutput)
            }
        }
    } else {
        @panel(s"Тест ${s.test}", "primary") {
            @details(s, "чекера")
            @stdpanel("Ввод", outputs.get(s.test).flatMap(_.input).map(_.toString).getOrElse(""))
            @stdpanel("Вывод", outputs.get(s.test).flatMap(_.output).map(_.toString).getOrElse(""))
            @stdpanel("Ответ жюри", outputs.get(s.test).flatMap(_.answer).map(_.toString).getOrElse(""))
            @stdpanel("Комментарий чекера", s.testerOutput)
        }
    }
}

}