@(subopt: Option[SubmitDetails], contest: SelectedContest)(implicit request: RequestHeader)

@adminmain(tab = "", contest = contest) {

@for(sub <- subopt) {
<div class="row">
    <div class="well">
        <p>По часам: @{sub.fsub.submit.submitId.arrived.timestamp}, по контесту: @sub.fsub.submit.submitId.arrived.asString,
            @if(sub.fsub.submit.submitId.arrived.afterFreeze){после}else{до} заморозки</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 well">
        <pre>@sub.sourceStr</pre>
    </div>
    <div class="col-md-6 well">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>Тест</th><th>Результат</th><th>Время</th><th>Память</th></tr>
            </thead>
            <tbody>
            @for(s <- sub.fsub.details) {
            <tr><td>@if(s.test!=0){@s.test}</td><td>@s.resultString</td><td>@s.time</td><td>@s.memory</td></tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
}