@(task: AdaptedWaiterTask)

@taskbutton(s: RoomWithPermission, action: (Long, String) => Call, st: String) = {
@defining(s"wa-${task.id}-${s.name}") { btnid =>
<a id="@btnid" href="javascript:void(0)"
   @if(s.can){onclick="v4.V4().btn('@action(task.id, s.name)', '@btnid')"}
   class="btn btn-raised btn-@st btn-sm" @if(!s.can){disabled}>@{s.name}</a>
}
}

<tr id="wt-id-@task.id">
    <th scope="row">@task.id</th>
    <td>@if(task.canDelete){
        @defining(s"wa-del-${task.id}") { btnid =>
        <a id="@{btnid}" href="javascript:void(0)"
           onclick="btn('@controllers.routes.AdminApplication.deleteWaiterTask(task.id)', '@btnid')"
           class="btn btn-raised btn-danger btn-xs">X</a>
        }
        }</td>
    <td>@LocalDateFormat(task.when)</td>
    <td>@task.message</td>
    <td>@for(s <- task.unacked){
        @taskbutton(s, controllers.routes.AdminApplication.ackWaiterTask, "danger")
        }
    </td>
    <td>@for(s <- task.acked){
        @taskbutton(s, controllers.routes.AdminApplication.unackWaiterTask, "success")
        }
    </td>
</tr>