@(submits: Seq[FullyDescribedSubmit], teams: Map[Int, LocalTeam], contest: SelectedContest, admin: Admin)(implicit request: RequestHeader)
@adminmain(tab = "status", contest = contest) {
<script>
    function rejudgePost(target, btnid) {
        $('#rejudge-' + btnid).html('...');
        $('#result-' + btnid).html('...')
        $.post(target, {}, function() {
            $('#rejudge-' + btnid).html('<span class="caret"></span>')
        });
    }

    function reprintPost(target, btnid) {
        $('#rejudge-' + btnid).html('...');
        $.post(target, {}, function() {
            $('#rejudge-' + btnid).html('<span class="caret"></span>')
        });
    }

</script>
@defining(admin.canModify(contest.contest.id)) { showRejudge =>
<table id="submits" class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>ID</th>@if(showRejudge){<th>R</th>}<th>Время</th><th>Команда</th><th>Задача</th><th>Язык</th><th>Результат</th>
        <th>Баллы</th>
        <th>Время работы</th><th>Память</th></tr>
    </thead>
    <tbody>
    @for(s <- submits) {
    @submitrow(s, teams, showRejudge)
    }

    </tbody>
</table>
}
}