@(submits: Seq[FullyDescribedSubmit], teams: Map[Int, LocalTeam], contest: SelectedContest, admin: Admin)(implicit request: RequestHeader)
@adminmain(tab = "status", contest = contest) {
<script>
    function rejudgePost(target, btnid) {
        console.log(btnid);
        $(btnid).html('...');
        $.post(target, {}, function() {
            $(btnid).html('<span class="glyphicon glyphicon-repeat"></span>')
        });
    }
</script>
@defining(admin.canModify(contest.contest.id)) { showRejudge =>
<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>ID</th>@if(showRejudge){<th>R</th>}<th>Время</th><th>Команда</th><th>Задача</th><th>Результат</th>
        <th>Баллы</th>
        <th>Время работы</th><th>Память</th></tr>
    </thead>
    <tbody>
    @for(s <- submits) {
    <tr><th scope="row"><a href="@routes.AdminApplication.showSubmit(s.submit.submitId.id)">@s.submit.submitId.id</a></th>
        @if(showRejudge){<td>
            <a href="javascript:void(0)" class="btn btn-primary btn-xs btn-nomargin" id="rejudge-@{s.submit.submitId.id}" onclick="rejudgePost('@controllers.routes.AdminApplication.rejudgeSubmit(s.submit.submitId.id)', '#rejudge-@{s.submit.submitId.id}')"><span class="glyphicon glyphicon-repeat"></span></a>
        </td>
        }
        <td>@s.submit.submitId.arrived.asString</td>
        <td>@teams(s.submit.submitId.teamId).teamFullName</td><td>@s.submit.submitId.problem.id</td>
        @if(s.result.success) {
        <td class="success">
            } else {
        <td>
            }
            @s.result.message
            </td><td>@s.score.getOrElse("")</td>
        <td>@s.stats.timeMs</td><td>@s.stats.memory</td></tr>
    }

    </tbody>
</table>
}
}