@(s: FullyDescribedSubmit, teams: Map[Int, LocalTeam], showRejudge: Boolean)

<tr><th scope="row"><a href="@routes.AdminApplication.showSubmit(s.submit.submitId.contestId, s.submit.submitId.id)">@s.submit.submitId.id</a></th>
    @if(showRejudge){<td>
        <div class="btn-group btn-nomargin">
            <a href="javascript:void(0)" data-target="#" class="btn btn-primary btn-xs btn-nomargin dropdown-toggle" data-toggle="dropdown" id="rejudge-@{s.submit.submitId.id}">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" onclick="rejudgePost('@controllers.routes.AdminApplication.rejudgeSubmit(s.submit.submitId.id)', '@{s.submit.submitId.id}')">Rejudge</a></li>
                <li><a href="javascript:void(0)" onclick="btn('@controllers.routes.AdminApplication.reprintSubmit(s.submit.submitId.id)', 'rejudge-@{s.submit.submitId.id}')">Reprint</a></li>
            </ul>
        </div>
    </td>
    }
    <td>@s.submit.submitId.arrived.asString</td>
    <td>@teams(s.submit.submitId.teamId).teamFullName</td><td>@s.submit.submitId.problem.id</td><td>@s.submit.submitId.ext</td>
    @if(s.result.success) {
    <td class="success" id="result-@{s.submit.submitId.id}">
        } else {
    <td id="result-@{s.submit.submitId.id}">
        }
        @s.result.message
    </td><td>@s.score.getOrElse("")</td>
    <td>@s.stats.timeMs</td><td>@s.stats.memory</td></tr>
