@(teams: Seq[DisplayTeam], schools: Seq[DisplaySchool], contest: SelectedContest, admin: Admin)(implicit request: RequestHeader, messages: Messages)

@adminmain(tab = "teams", contest=contest) {

@defining(admin.canSeeTeamPasswords(contest.contest.id)) { withPasswords =>

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Team editor</h3></div>
    <div class="panel-body">

        <table id="teams" class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>ID</th><th>School</th><th>Num</th><th>Name</th>
                @if(withPasswords) {
                <th>Login</th><th>Password</th>
                }
            </tr>
            </thead>
            <tbody>
            @for(s <- teams) {
            <tr id="@s.team.id">
                <th scope="row">@s.team.id</th>
                <td>@s.school.name</td>
                <td>@s.team.num</td>
                <td><a href="@routes.AdminApplication.editTeam(contest.contest.id, s.team.id)">@s.team.name</a></td>
                @if(withPasswords) {
                <td>@s.login</td>
                <td>@s.password</td>
                }
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">School editor</h3></div>
    <div class="panel-body">

        <table id="schools" class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>ID</th><th>Short name</th><th>Full name</th></tr>
            </thead>
            <tbody>
            @for(s <- schools) {
            <tr id="@s.school.id">
                <th scope="row">@s.school.id</th>
                <td>@s.school.name</td>
                <td><a href="@routes.AdminApplication.editSchool(contest.contest.id, s.school.id)">@s.school.fullName</a></td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

}

}