@(tasks: Seq[AdaptedWaiterTask], contest: SelectedContest)

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Tasks</h3></div>
    <div class="panel-body">

        <table class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>ID</th><th></th><th>Time</th><th>Text</th><th>Unconfirmed</th>
                <th>Confirmed</th></tr>
            </thead>
            <tbody>
            @for(s <- tasks) {
            @singlewaitertask(s)
            }
            </tbody>
        </table>
        <a href="@routes.AdminApplication.postNewWaiterTaskForm(contest.contest.id)" class="btn btn-primary">Добавить задание</a>
    </div>
</div>
