@(loggedIn: LoggedInTeam, clarifications: Seq[Clarification])(implicit request: RequestHeader)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@main("Contester", tab = "clarifications", loggedInOpt=Some(loggedIn)) {

<h3>@loggedIn.contest.name</h3>
<h4>@loggedIn.team.teamFullName</h4>

<div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title">Сообщения жюри</h3></div>
<table class="table">
    <thead>
    <tr><th>Время</th><th>Задача</th><th>Текст</th></tr>
    </thead>
    <tbody>
    @for(s <- clarifications) {
    <tr><td>@s.time</td><td>@s.problem</td><td>@Html(s.text)</td></tr>
    }

    </tbody>
</table>
</div>

}