@import org.stingray.contester.dbmodel._
@(loggedIn: LoggedInTeam, clarifications: Seq[Clarification], clReq: Seq[ClarificationRequest], problems: Seq[(String, String)], form: Form[ClarificationReqData])(implicit flash: Flash, messages: Messages, request: RequestHeader)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@myscripts = {
<script>
            $(function() {
            $('#submitform').validate({
                rules: { text: { required: true, maxlength: 4096 }, problem: { required: true }}
            });
            })
        </script>
}

@main(loggedIn, tab = "clarifications", scripts = myscripts) {

@contestteaminfo(loggedIn)

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">@messages("heading.sendClarificationRequest")</h3></div>
    <div class="panel-body">
        @b3.horizontal.formCSRF(controllers.routes.QandA.post, "col-md-2", "col-md-10", 'id -> "submitform") { implicit fc =>
        @form.globalError.map { error =>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">@messages("label.error"):</span>
            @error.message
        </div>
        }

        @flash.get("success").map { message =>
        <div class="alert alert-success" role="alert">
            @message
        </div>
        }

        @b3.select(form("problem"), options = problems, '_label -> messages("label.problem"))
        @b3.textarea(form("text"), '_label -> messages("label.questionText"))
        @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> @messages("send")}
        }
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading"><h3 class="panel-title">@messages("heading.clarifications")</h3></div>
<table class="table">
    <thead>
    <tr><th>@messages("label.time")</th><th>@messages("label.problem")</th><th>@messages("label.text")</th></tr>
    </thead>
    <tbody>
    @for(s <- clarifications) {
    <tr><td>@LocalDateFormat(s.arrived)</td><td>@s.problem</td><td>@Html(s.text)</td></tr>
    }
    </tbody>
</table>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">@messages("heading.yourClarifications")</h3></div>
    <table class="table">
        <thead>
        <tr><th>@messages("label.time")</th><th>@messages("label.problem")</th><th>@messages("label.text")</th><th>@messages("label.answer")</th></tr>
        </thead>
        <tbody>
        @for(s <- clReq) {
        <tr><td>@LocalDateFormat(s.arrived)</td><td>@s.problem</td><td>@s.request</td><td>@s.getAnswer</td></tr>
        }
        </tbody>
    </table>
</div>


}