@(contest: Contest)

<p id="contest-frozen" class="text-warning" @if(!contest.frozen) { hidden }>Монитор заморожен</p>
<p id="contest-ended" class="text-info" @if(!contest.finished){ hidden }>Соревнование закончено</p>
<p id="contest-timer" @if(contest.finished){ hidden }>
    <span id="contest-ending-in" @if(!contest.started) { hidden }>До окончания соревнования:</span>
    <span id="contest-starting-in" @if(contest.started) { hidden }>До начала соревнования:</span>
    <span id="contest-timer-counter"></span>
</p>