@(contest: Contest)

@import com.github.nscala_time.time.Imports._
@import org.joda.time.format.PeriodFormat

@if(contest.frozen) {
<p class="text-warning">Монитор заморожен</p>
}
@if(contest.finished) {
<p class="text-info">Соревнование закончено</p>
} else {
@if(contest.started) {
<p>До окончания соревнования: @(PeriodFormat.getDefault().print((DateTime.now to contest.endTime).toPeriod))</p>
} else {
<p>До начала соревнования: @(PeriodFormat.getDefault().print((DateTime.now to contest.startTime).toPeriod))</p>
}
}
