@import org.stingray.contester.dbmodel._
@(loggedIn: LoggedInTeam, ev: EvalEntry)(implicit flash: Flash, messages: Messages, request: RequestHeader)

@main(loggedIn, tab = "sendwithinput") {
@contestteaminfo(loggedIn)

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">@messages("label.sourceCode")</h3></div>
    <div class="panel-body">
        <pre>@ev.sourceStr</pre>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">@messages("label.input")</h3></div>
    <div class="panel-body">
        <pre>@ev.inputStr</pre>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">@messages("label.output")</h3></div>
    <div class="panel-body">
        <pre>@ev.outputStr</pre>
    </div>
</div>
}
