@(loggedIn: LoggedInTeam, subs: Seq[FullyDescribedSubmit])(implicit request: RequestHeader, messages: Messages)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@plus = @{
if(!loggedIn.contest.schoolMode) { "+" } else {""}
}


@main(loggedIn, tab = "index") {

@contestteaminfo(loggedIn)

<div class="panel panel-success">
    <div class="panel-body">
        @if(subs.isEmpty) {
        <p>@messages("label.noSubmits")</p>
        } else {

        <table class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>ID</th><th>@messages("label.time")</th><th>@messages("label.problem")</th><th>@messages("label.attempt")</th><th>@messages("label.language")</th><th>@messages("label.verdict")</th>
                <th>@if(loggedIn.contest.schoolMode) { @messages("label.points") } else { @messages("label.penalty") }</th>
                <th>@messages("label.elapsedTime"), ms</th>
            <th>@messages("label.memory"), KB</th></tr>
            </thead>
            <tbody>
            @for(s <- subs) {
            @singlesubmit(s, plus)
            }
            </tbody>
        </table>

        }
    </div>
</div>

}