@(loggedIn: LoggedInTeam, subs: Seq[FullyDescribedSubmit])(implicit request: RequestHeader, messages: Messages)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@plus = @{
if(!loggedIn.contest.schoolMode) { "+" } else {""}
}


@main(loggedIn, tab = "index") {

@contestteaminfo(loggedIn)

<div class="panel panel-success">
    <div class="panel-body">
        @if(subs.isEmpty) {
        <p>Попытки не обнаружены</p>
        } else {

        <table class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>ID</th><th>Время</th><th>Задача</th><th>Попытка</th><th>Язык</th><th>Результат</th>
                <th>@if(loggedIn.contest.schoolMode) { Баллы } else { Штраф }</th>
                <th>Время работы, ms</th>
            <th>Память, KB</th></tr>
            </thead>
            <tbody>
            @for(s <- subs) {
            @singlesubmit(s, plus)
            }
            </tbody>
        </table>

        }
    </div>
</div>

}