@(form: Form[AuthData])(implicit flash: Flash, messages: Messages)

@styles = {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/signin.css")">
}

@base("Пожалуйста, авторизуйтесь", styles=styles) {
    <div class="row">
        <div class="col-md-6 well">
    @b3.vertical.form(controllers.routes.AuthForms.authenticate, 'class -> "form-signin") { implicit ifc =>
    <h2 class="form-signin-heading">Пожалуйста, авторизуйтесь.</h2>

    @form.globalError.map { error =>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @error.message
    </div>
    }

    @flash.get("success").map { message =>
    <div class="alert alert-success" role="alert">
        @message
    </div>
    }

    @b3.text(form("username"), '_label -> "Имя пользователя")
    @b3.password(form("password"), '_label -> "Пароль")
    @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Авторизоваться}
    }
    </div>
    </div>
}