@(form: Form[AuthData])(implicit flash: Flash, messages: Messages)

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пожалуйста, авторизуйтесь</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-datepicker/css/datepicker3.css")">
    <link href="@routes.Assets.at("css/roboto.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/material.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/ripples.min.css")" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/signin.css")">
    <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/ripples.min.js")"></script>
    <script src="@routes.Assets.at("js/material.min.js")"></script>
    <script type="text/javascript">
    $.material.init()
    </script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">

    <div class="well">
    @b3.vertical.form(controllers.routes.AuthForms.authenticate, 'class -> "form-signin") { implicit ifc =>
    <h2 class="form-signin-heading">Пожалуйста, авторизуйтесь.</h2>

    @form.globalError.map { error =>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @error.message
    </div>
    }

    @flash.get("success").map { message =>
    <div class="alert alert-success" role="alert">
        @message
    </div>
    }

    @b3.text(form("username"), '_label -> "Имя пользователя")
    @b3.password(form("password"), '_label -> "Пароль")
    @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Авторизоваться}
    }
    </div>

</div>
</body>
</html>