@(title: String, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""),
  variant: DisplayMode=EmptyDisplayMode)(content: Html)(implicit request: RequestHeader)

@notifySocket = @{variant match {
case TeamDisplayMode => Some(routes.Application.socket.webSocketURL())
case _ => None
}
}

@navlink(myid: String, myhref: String, mytext: String) = {
    @if(myid == tab) {
        <li class="active"><a href="#">@mytext <span class="sr-only">(current)</span></a></li>
    } else {
        <li><a href="@myhref">@mytext</a></li>
    }
}

@teamNavlinks = {
@navlink("index", "/", "Подходы")
@navlink("submit", "/submit", "Отправить")
@navlink("monitor", "/monitor", "Монитор")
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Информация <span class="caret"></span></a>
    <ul class="dropdown-menu">
        @navlink("clarifications", "/clarifications", "Сообщения жюри")
        @navlink("print", "/print", "Печать")
        @navlink("sendwithinput", "/sendwithinput", "Запуск на стороне сервера")
        <li role="separator" class="divider"></li>
        <li><a href="#">Строки компиляции</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Ботва</a></li>
    </ul>
</li>
}

@adminNavlinks = {
@navlink("index", "/admin", "Статус")
@navlink("monitor", "/admin/monitor", "Монитор")
}

@myStyles = {
@styles
<style>
    body {
    padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    .table-vcenter td {
    vertical-align: middle!important;
    }

    .btn-nomargin {
    margin: 0px 0px;
    }
</style>
}

@myScripts = {
<script type="text/javascript">
    @for(s <- notifySocket) {
        document.addEventListener('DOMContentLoaded', maybeCheckNotifyPermission);
        listenOnSocket("@s", '@routes.Assets.at("images/")');
    }
</script>
}

@base(title, myStyles, myScripts) {

@{variant match {
    case TeamDisplayMode => navbar(teamNavlinks)
case AdminDisplayMode =>navbar(adminNavlinks, true)
case _ => Html("")
}
}

<div class="container">
    @content
</div>
}