@(loggedIn: LoggedInTeam, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader)

@navlink(myid: String, myhref: play.api.mvc.Call, mytext: Html) = {
    @if(myid == tab) {
        <li class="active"><a href="#">@mytext <span class="sr-only">(current)</span></a></li>
    } else {
        <li><a href="@myhref">@mytext</a></li>
    }
}

@teamNavlinks = {
@navlink("index", routes.Application.index, Html("Попытки"))
@navlink("submit", routes.Application.submit, Html("Отправить"))
@navlink("monitor", routes.Application.monitorDefault, Html("Монитор"))
@navlink("clarifications", routes.QandA.index, Html("Сообщения жюри <span id='clrPending' class='badge'>!</span>"))
@navlink("print", routes.Printing.index, Html("Печать"))
@navlink("sendwithinput", routes.ServerSideEval.index, Html("Запуск"))
@for(c <- loggedIn.einfo) {
    @navlink(s"extrainfo${c.num}", routes.Application.showExtraInfo(c.num), Html(c.heading))
}
}

@myStyles = {
@styles
<link href="@routes.Assets.versioned("css/topbar.css")" rel="stylesheet">
}

@myScripts = {
<script type="text/javascript">
    $(function() {
        askForPermission();
        listenOnEvents('@routes.Application.feed(loggedIn.contest.id, loggedIn.team.localId)',
            '@routes.Assets.versioned("images/")',
            '@routes.Application.ackMessage');
    });
</script>
@scripts
}

@base("Contester", myStyles, myScripts) {
@navbar(Some(routes.AuthForms.logout))(teamNavlinks)

<div class="container">
    @content
</div>
}