@(loggedIn: LoggedInTeam, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader)

@navlink(myid: String, myhref: String, mytext: String) = {
    @if(myid == tab) {
        <li class="active"><a href="#">@mytext <span class="sr-only">(current)</span></a></li>
    } else {
        <li><a href="@myhref">@mytext</a></li>
    }
}

@teamNavlinks = {
@navlink("index", "/", "Подходы")
@navlink("submit", "/submit", "Отправить")
@navlink("monitor", "/monitor", "Монитор")
@navlink("clarifications", "/clarifications", "Сообщения жюри")
@navlink("print", "/print", "Печать")
@navlink("sendwithinput", "/sendwithinput", "Запуск на стороне сервера")
<li><a href="#">Строки компиляции</a></li>
<li><a href="#">Ботва</a></li>
}

@myStyles = {
@styles
<style>
    body {
    padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    .table-vcenter td {
    vertical-align: middle!important;
    }

    .btn-nomargin {
    margin: 0px 0px;
    }
</style>
}

@myScripts = {
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        maybeCheckNotifyPermission();
        listenOnEvents('@routes.Application.feed(loggedIn.contest.id, loggedIn.team.localId)',
            '@routes.Assets.at("images/")',
            '@routes.Application.ackMessage');
    })
</script>
}

@base("Contester", myStyles, myScripts) {
@navbar(Some(routes.AuthForms.logout))(teamNavlinks)

<div class="container">
    @content
</div>
}