@(status: models.Status)

@main("Monitor", tab = "monitor") {

<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>Rank</th><th>ID</th><th>Name</th><th>Solved</th><th>Penalty</th>
        @for(p <- status.problems) {
            <th>@p</th>
        }
    </tr>
    </thead>
    <tbody>
    @for(r <- status.rows) {
    <tr><th scope="row">@r.rankStr</th><td>@r.row.team.id</td><td>@r.row.team.name</td><td>@r.row.solved</td><td>@r.row.time</td>
        @for(p <- status.problems) {
        <td class="text-center">
            @if(r.row.cells.contains(p)) {
                @if(r.row.cells(p).success) {
                    <span class="text-success"><strong>@r.row.cells(p).toShort</strong></span><br/>
                    <span class="text-info"><small>@r.row.cells(p).timeStr</small></span>
                } else {
                    <span class="text-muted">@r.row.cells(p).toShort</span>
                }
            }
        </td>
        }
    </tr>
    }
    </tbody>
</table>

}