@(status: models.AnyStatus)

@main("Monitor", tab = "monitor") {

<table class="table table-hover table-bordered table-responsive">
    <thead>
    @status match {
        case st: ACM.Status => {
            <tr><th>Rank</th><th>ID</th><th>Name</th><th>Solved</th><th>Penalty</th>
        }
        case st: School.Status => {
            <tr><th>Rank</th><th>ID</th><th>Name</th><th>Score</th>
        }
    }
    @for(p <- status.problems) {
        <th>@p</th>
    }
    </tr>
    </thead>
    <tbody>
    @status match {
        case st: ACM.Status => {
            @for(r <- st.rows) {
            <tr><th scope="row">@r.rankStr</th><td>@r.team.id</td><td>@r.team.name</td><td>@r.score.solved</td><td>@r.score.penalty</td>
                @for(p <- st.problems) {
                <td class="text-center">
                    @if(r.cells.contains(p)) {
                        @if(r.cells(p).success) {
                            <span class="text-success"><strong>@r.cells(p).toShort</strong></span><br/>
                            <span class="text-info"><small>@r.cells(p).timeStr</small></span>
                        } else {
                            <span class="text-muted">@r.cells(p).toShort</span>
                        }
                    }
                </td>
                }
            </tr>
            }
        }
    case st: School.Status => {
        @for(r <- st.rows) {
        <tr><th scope="row">@r.rankStr</th><td>@r.team.id</td><td>@r.team.name</td><td>@r.scoreStr</td>
            @for(p <- st.problems) {
            <td class="text-center">
                @if(r.cells.contains(p)) {
                @if(r.cells(p).full) {
                <span class="text-success"><strong>@r.cells(p).toShort</strong></span>
                } else {
                <span class="text-muted">@r.cells(p).toShort</span>
                }
                }
            </td>
            }
        </tr>
        }
        }
    }
    </tbody>
</table>

}