@(status: models.Status)

@main("Contester", tab = "monitor") {

<h1>Monitor</h1>

<table class="table table-striped table-bordered">
    <thead>
    <tr><th>Rank</th><th>ID</th><th>Name</th><th>Solved</th><th>Penalty</th>
        @for(p <- status.problems) {
            <th>@p</th>
        }
    </tr>
    </thead>
    <tbody>
    @for(r <- status.rows) {
    <tr><td>@r.rankStr</td><td>@r.row.team.id</td><td>@r.row.team.name</td><td>@r.row.solved</td><td>@r.row.time</td>
        @for(p <- status.problems) {
        <td>
            @if(r.row.cells.contains(p)) {
                @r.row.cells(p).toShort
            }
        </td>
        }
    </tr>
    }
    </tbody>
</table>

}