@(contest: Contest, status: models.AnyStatus, current: Int, admin: Boolean=false)

@import spire.math.Rational

@sm = @{status.solvedProblems}

@if(contest.started || admin) {


<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>Место</th><th>ID</th><th>Команда</th>
    @status match {
    case st: ACM.Status => {
    <th>=</th><th>Штраф</th>
        }
        case st: School.Status => {
    <th>=</th>
        }
        }
        @for(p <- status.problems) {
        <th style="text-align: center;">@p<div style="font-size: 65%;@if(sm.getOrElse(p, 0)==0){color:#ccc;}">(@sm.getOrElse(p, 0))</div></th>
        }
    </tr>
    </thead>
    <tbody>

    @for(r <- status.anyRows) {
    <tr @if(current == r.team.id) { class="info" } >
        <th scope="row">@r.rankStr</th><td>@r.team.id</td>
        <td>@r.team.schoolNameWithNum<br/><small>@r.team.teamName</small></td>
        @r.anyScore match {
        case sc: ACM.Score => {
        <td>@sc.solved</td><td>@sc.penalty</td>
        }
        case sc: Rational => {
        <td>@RationalToScoreStr(sc)</td>
        }
        }

        @for(p <- status.problems.map(r.anyCells.get)) {
        <td class="text-center">
            @for(anyCell <- p) {
            @anyCell match {
                case cell: ACMCell => {
                    @if(cell.fullSolution) {
                    <span class="text-success"><strong>@cell</strong></span><br/>
                    <span class="text-info"><small>@SecondsToTimeStr(cell.arrivedSeconds)</small></span>
                    } else {
                    <span class="text-muted">@cell</span>
                    }
                }
                case cell: SchoolCell => {
                    @if(cell.fullSolution) {
                    <span class="text-success"><strong>@cell</strong></span>
                    } else {
                    <span class="text-muted">@cell</span>
                    }
                }
            }
            }
        </td>
        }

        </tr>
    }

    </tbody>
</table>
}