@(loggedIn: LoggedInTeam, form: Form[printing.SubmitData], jobs: Seq[printing.PrintEntry])(implicit flash: Flash, messages: Messages, request: RequestHeader)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@main("Contester", tab = "print", variant=TeamDisplayMode, notifySocket=Some(routes.Application.socket.webSocketURL())) {

@contestteaminfo(loggedIn)

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Напечатать текст</h3></div>
    <div class="panel-body">
        @b3.form(controllers.routes.Printing.post, 'enctype -> "multipart/form-data") {
        @form.globalError.map { error =>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @error.message
        </div>
        }

        @flash.get("success").map { message =>
        <div class="alert alert-success" role="alert">
            @message
        </div>
        }

        @b3.file(form("file"), '_label -> "Файл с текстом для печати")
        @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Отправить}
        }
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Задания</h3></div>
    <table class="table table-bordered table-responsive">
        <thead>
        <tr><th>Время</th><th>Имя файла</th><th>Результат</th></tr>
        </thead>
        <tbody>
        @for(s <- jobs) {
        <tr><td>@s.arrived</td><td>@s.filename</td>
            <td>@s.printed</td></tr>
        }

        </tbody>
    </table>
</div>


}