@(loggedIn: LoggedInTeam, form: Form[SubmitData], problems: Seq[(String, String)], languages: Seq[(String, String)])(implicit flash: Flash, messages: Messages, request: RequestHeader)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@main(loggedIn, tab = "submit") {

@contestteaminfo(loggedIn)

<div class="panel panel-success">
    <div class="panel-heading"><h3 class="panel-title">Отправить решение на проверку</h3></div>
    <div class="panel-body">
        @b3.form(controllers.routes.Application.submitPost, 'enctype -> "multipart/form-data", 'id -> "submitform") {
        @form.globalError.map { error =>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @error.message
        </div>
        }

        @flash.get("success").map { message =>
        <div class="alert alert-success" role="alert">
            @message
        </div>
        }

        @b3.select(form("problem"), options = problems, '_label -> "Задача")
        @b3.select(form("compiler"), options = languages, '_label -> "Компилятор")
        @b3.file(form("file"), '_label -> "Файл с решением")
        @b3.submit('class -> "btn btn-large btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Отправить}
        }
        <script>
            $('#submitform').validate({
                rules: { file: { required: true, filesize: 128000  }}
            });
        </script>
    </div>
</div>

}