@(loggedIn: LoggedInTeam, subopt: Option[SubmitDetails])(implicit request: RequestHeader)

@main(loggedIn, tab = "") {

@contestteaminfo(loggedIn)

@for(sub <- subopt) {

<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Результат тестирования</h3>
    </div>
    <div class="panel-body"><table class="table table-hover table-bordered table-responsive">
        <thead>
        <tr><th>Тест</th><th>Результат</th><th>Время, ms</th><th>Память, KB</th></tr>
        </thead>
        <tbody>
        @for(s <- sub.fsub.details.reverse) {
        <tr><td>@s.test</td><td>@s.resultString</td><td>@s.time</td><td>@s.memory</td></tr>
        @if(s.test == 0 && !s.success) {
        <tr><td colspan="4"><pre>@s.testerOutput</pre></td></tr>
        }
        }
        </tbody>
    </table></div>
</div>
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Исходный текст</h3>
    </div>
    <div class="panel-body"><pre>@sub.sourceStr</pre>
    </div>
</div>
}
}