@(loggedIn: LoggedInTeam, subopt: Option[SubmitDetails])(implicit request: RequestHeader)

@main(loggedIn, tab = "") {

@contestteaminfo(loggedIn)

@for(sub <- subopt) {
<div class="row">
    <div class="col-md-6 well">
        <pre>@sub.sourceStr</pre>
    </div>
    <div class="col-md-6 well">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
            <tr><th>Тест</th><th>Результат</th><th>Время, ms</th><th>Память, KB</th></tr>
            </thead>
            <tbody>
            @for(s <- sub.fsub.details.reverse) {
            <tr><td>@s.test</td><td>@s.resultString</td><td>@s.time</td><td>@s.memory</td></tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
}