@(submits: Seq[Submits.ScoredSubmit[Submit, SchoolCell]])

@if(submits.isEmpty) {
<p>Подходов не обнаружено.</p>
} else {

<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>Время</th><th>Задача</th><th>Попытка</th><th>Язык</th><th>Результат</th><th>Баллы</th><th>Время работы</th></tr>
    </thead>
    <tbody>
    @for(s <- submits) {
    <tr><td>@s.submit.arrivedStr</td><td>@s.submit.problem</td><td>@s.index</td><td>@s.submit.ext</td>
        @if(s.submit.success) {
        <td class="success">
            } else {
        <td>
            }
            @s.submit.asSchool</td><td>@s.score.score</td><td></td></tr>
    }
    </tbody>
</table>

}