@(submits: Seq[Submits.IndexedSubmit[Submit, SchoolCell]])

@if(submits.isEmpty) {
<p>Подходов не обнаружено.</p>
} else {

<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr><th>Время</th><th>Задача</th><th>Попытка</th><th>Язык</th><th>Результат</th><th>Баллы</th><th>Время работы</th></tr>
    </thead>
    <tbody>
    @for(s <- submits) {
    <tr><td>@s._1.arrivedSeconds</td><td>@s._1.problem</td><td>@s._3</td><td>@s._1.ext</td>
        @if(s._1.success) {
        <td class="success">
            } else {
        <td>
            }
            @s._1.asSchool</td><td>@s._2.score</td><td></td></tr>
    }
    </tbody>
</table>

}